.App {
  display: flex;
  flex-direction: row;

  height: 760px;
}

.entireBoard {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 75%;

  border: 1px solid black;
}

.devTools {
  display: flex;

  width: 25%;

  border: 1px solid black;
}
